<%- include('../partials/head') %>


    <section id="team" class="pb-5">
        <div class="container">
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter by:
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" id="status" value='burger' href="/workers/vaccinated">Vaccinated</a>
                    </li>
                    <li><a class="dropdown-item" id="status" value='cheese' href="/workers/not">Not-Vaccinated</a></li>
                    <li><a class=" dropdown-item" id="status" value='burger' href="/workers">All</a>
                    </li>
                </ul>
            </div>


            <h5 class="section-title h1">OUR TEAM</h5>
            <div class="row">
                <% if (workers.length !==0) { %>

                    <% workers.forEach((element, index)=> { %>
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip">
                                <div class="mainflip flip-0">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="<%= element.image %>" alt="card image">
                                                </p>
                                                <h4 class="card-title">
                                                    <%= element.name %>
                                                </h4>
                                                <p class="card-text">
                                                    <%= element.address %>
                                                </p>
                                                <p class="card-text">
                                                    <%= element.contact %>

                                                </p>

                                                <p class="card-text">
                                                    <%= element.status %>
                                                </p>

                                                <a href="/workers/<%= element.slug %> " class="btn btn-primary">View Worker</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">status</h4>

                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                            <i class="fa fa-skype"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                            <i class="fa fa-google"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->

                        <% }) %>

                            <% }else {%>

                                <p>No workers is available</p>


                                <% }%>


            </div>
        </div>
    </section>



    <!-- <div class="container">

        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Filter by:
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" id="status" value='burger' href="/workers/vaccinated">Vaccinated</a>
                </li>
                <li><a class="dropdown-item" id="status" value='cheese' href="/workers/not">Not-Vaccinated</a></li>
                <li><a class=" dropdown-item" id="status" value='burger' href="/workers">All</a>
                </li>
            </ul>
        </div>

        <div class="row">




            <% if (workers.length !==0) { %>

                <% workers.forEach((element, index)=> { %>

                    <div class="col-3">
                        <div class="card card-body flex-fill bg-light mb-3" style="width: 15rem;">
                            <img src="<%= element.image %>" class="rounded-circle">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= element.name %>
                                </h5>
                                <p class="card-text">
                                    <%= element.address %>
                                </p>
                                <p class="card-text">
                                    <%= element.contact %>
                                </p>
                                <p class="card-text">
                                    <%= element.status %>
                                </p>
                                <a href="/workers/<%= element.slug %> " class="btn btn-primary">View Worker</a>
                            </div>


                        </div>
                    </div>

                    <% }) %>

                        <% }else {%>

                            <p>No workers is available</p>


                            <% }%>

        </div>



    </div>
 -->


    <%- include('../partials/foot') %>